.textBox {
  position: relative;
  top: -20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
}

.powerTextBox {
  position: relative;
  top: -13px;
  font-size: 10px;
  text-align: right;
  line-height: 120%;
  width: 80px;
}